# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\跟着云开兄走天下\Fusion_code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
